body {
  font-family: 'Work Sans', sans-serif;
  --bs-primary: #1c3dca;
  --bs-primary-rgb: 28,61,202;
  --bs-info: #ffffff;
  --bs-info-rgb: 255,255,255;
  --bs-dark: #131416;
  --bs-dark-rgb: 19,20,22;
  --bs-body-color: var(--bs-white);
  --bs-body-bg: var(--bs-dark);
  width: 100vw;
  height: 100vh;
  padding: 50px;
}

.container {
  height: 100%;
}

.text-badge {
  padding: .1em .4em;
  background: var(--bs-black);
}

.text-main {
  padding: .1em .1em;
  background: var(--bs-black);
}

.overlay-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.winning-screen {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/assets/img/andromeda.gif");
  background-size: cover;
  border-radius: 10px;
}

.winning-message {
  color: white;
  font-size: 40px;
  text-align: center;
  padding: 20px;
  text-shadow: 2px 2px 2px black, -2px -2px 2px black, -2px 2px 2px black, 2px -2px 2px black;
}

.text-shadow {
	text-shadow: 2px 2px 4px black, -2px -2px 4px #000000, -2px 2px 4px black, 2px -2px 4px black;
}

img {
	max-width: 100%;
}

.readonly-input {
	background-color: white !important;
	color: var(--bs-info);
	border-top-color: var(--bs-info);
	border-right-color: var(--bs-info);
	border-bottom-color: var(--bs-info);
	border-left-color: var(--bs-info);
}

#tournament-results-wrapper>* {
	flex: 1 1 auto;
}
